.career {
    background-color: #fbfbfb;
    &__container {
        min-height: 100%;
        padding-top: toRem(80);
        padding-bottom: toRem(30);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        @include adaptiveValue("column-gap", 144, 20);
        @include adaptiveValue("row-gap", 80, 20);
        @media (min-width:$mobile){
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            align-content: center;
            align-items: start;
            grid-auto-flow: column;
        }
    }

    &__title {
    }

    &__navigation {
        ._tab-spoller & {
            display: none;
        }
    }

    &__content {        
        @media (min-width:$mobile){
            grid-row: span 2;
            @include adaptiveValue("padding-top", 32, 15);
        }
    }
}
.navigation-career {
    &__title {
        width: 100%;
        text-align: left;
        padding: toRem(14) toRem(24);
        line-height: 1.18;
        display: flex;            
        background-color: #fff;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: toRem(9);
        }
        transition: all 0.3s ease 0s;
        &::after{
            font-size: toRem(12);
            @extend %ic;
            content:'\e900';
            display: none; 
        }
        ._tab-spoller & {
            border: 1px solid #d6d6d6;
            &::after{
                display: block;
                transform: rotate(90deg);
            }
        }
        &._tab-active {
            align-items: center;
            color: $blueColor;
            &::after{
                display: block;
                ._tab-spoller & {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
.content-career {

    &__body {
        ._tab-spoller & {
            padding: toRem(15) toRem(0) toRem(15) toRem(0);
        }
    }

    &__header {
        border-bottom: 1px solid #f1f1f1;
        @include adaptiveValue("padding-bottom", 32, 20);
    }

    &__title {
        font-family: $secondFont;
        font-weight: 500;
        font-size: toRem(18);
        line-height: 1.27;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }

    &__title-link {
        font-family: $secondFont;
        font-weight: 500;
        font-size: toRem(18);
        line-height: 1.27;
        text-decoration: underline;
        @media (any-hover: hover){
            &:hover{
                text-decoration: none;
            }
        }
    }

    &__location {
        font-size: toRem(14);
        line-height: 1.21;
        color: $secondColor;
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__time {
        font-weight: 500;
        font-size: toRem(14);
        line-height: 1.71;
        color: $secondColor;
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(16);
    }

    &__main {
        @include adaptiveValue("padding-top", 32, 20);
    }

    &__list {
    }
}
.list-content-career {

    &__item {
        color: $secondColor;
        line-height: 1.18;
        position: relative;
        padding-left: toRem(28);
        &::before{
            content:'';
            background-color: #d9d9d9;
            width: toRem(10);
            height: toRem(2);
            position: absolute;
            top: toEm(10, 16);
            left: 0;
        }
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
}
