.clients {
    background-color: #fbfbfb;
    &__container {
        min-height: 100%;//на все секции, кроме header
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: toRem(80);
        padding-bottom: toRem(30);
    }

    &__title {
        @include adaptiveValue("margin-bottom", 132, 80);

    }

    &__items {
        display: grid;
        //grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
        @include adaptiveValue("column-gap", 40, 20);
        row-gap: toRem(60);
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: toEm(960)){
            grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
        }
    }

    &__item {
    }
}

.item-clients {
    display: flex;
    flex-direction: column;
    border-radius: toRem(8);
    background-color: #fff;
    padding-bottom: toRem(24);
    @include adaptiveValue("padding-left", 38, 10);
    @include adaptiveValue("padding-right", 38, 10);
    &__avatar {
        align-self: center;
        border-radius: 50%;
        overflow: hidden;
        width: toRem(96);
        height: toRem(96);
        margin-top: toRem(-48);
        &:not(:last-child) {
            margin-bottom: toRem(32);
        }
    }

    &__text {
        flex: 1 1 auto;//чтобы прибить к низу другие элементы
        p {
            &:not(:last-child) {
                margin-bottom: toRem(5);
            }
        }
        line-height: 1.75;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 48, 20);
        }
    }

    &__name {
        font-family: $secondFont;
        font-size: toRem(14);
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }

    }

    &__profession {
        align-self: flex-start;
    }
}
